
.card {
    position: relative;
    display: flex;
    width: 300px;
    height: 20rem;
    top: -50px;
    margin-bottom: -45px;
    overflow: hidden;
    justify-content: center;
}

.visitar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 55px;
    border-radius: 7px;

    text-decoration: none;
    margin-bottom: 5px;
    >button{
        font-size: 1.0rem;
        font-weight: 500;
        cursor: pointer;
        color:white;
    }
}
.card img{
    width: 100%;
    height: 13rem;
    box-shadow: #000 -1px 3px 7px 0px;
    border-radius: 5px;
}

.ordem{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    margin-top: 15px;

    width: auto;
    height: auto;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    background: #e0e0e00a;
}

.tittle_card{
    font-family: 'Ubuntu-Bold';
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 5px;
    margin-top: -45px;
    cursor:default;
}


.subTitle{
    font-family: 'Ubuntu-Bold';
    font-weight: 500;
    font-size: 0.8rem;
    cursor: default;
    margin-right: 5px;
    margin-bottom: 10px;
}