
<div class="container">
    <div class="apresentacao" id="inicio">
    
        <app-header class="header" inicio="#inicio" sobreMin="#sobreMin" projetos="#projetos" contato="#contato"></app-header>
        
        <div class="apresentacao__title">
            <h3 class="apresentacao__text">Olá, Meu nome é
                <h1 class="apresentacao__text_h1">Daniel Almeida.<a class="apresentacao__text_a">|</a> </h1>
            e sou Desenvolvedor Web Front-end</h3>
        </div>
        <div class="apresentacao__img">
            <img class="avatar" src="assets/avatar1.png">
        </div>
    </div>

    <div class="sobre-mim" id="sobreMin">

        <div class="tittle">
            <h2 class="section__tittle">Sobre Mim</h2>
        </div>

        <app-about 
            textDescription="De São Paulo - SP e tenho 25 anos, estou no inicio da minha carreira como desenvolvedor, e em breve estarei me formando em Análise e Desenvolvimento de Sistemas pela Universidade Anhembi Morumbi. Sou apaixonado por tecnologia e games mas principalmente por desenvolvimento web. Fui voluntario por 2 anos e 10 meses como Desenvolvedor Front-End em um projeto para um centro de acolhimento de idosos; Onde fui responsavel pela criações de telas responsivas e funcionais do projeto. Atualmente estou estudando a biclioteca React e a Framework Next.js e prentendo começar a estudar as principais tecnologias e linguagens de programação Back-End, para futuramente me tornar um desenvolvedor Full-Stack.">
        </app-about> 

    </div>

    <div class="projetos" id="projetos">

        <div class="tittle">
            <h2 class="section__tittle">Projetos:</h2>
        </div>
        <div class="capsula">
            <div class="reactAngular">
                <span id="angular"> 
                    <img src="../../../assets/angularLogo.png"/>
                    Projetos Angular
                </span>
            </div>
            <div class="card-container">
    
                <div class="card_Posion"> 
                    <a href="https://github.com/danalmeida29/PlayStationStore/tree/devAlmeida" target="_blank">
                        <app-projetos projetoName="PSN Clone" projetoCover="./../../../assets/ImgProject/PSN.png" projetoAlt="Projeto PSN Clone"></app-projetos>
                    </a>
                </div>
                <div class="card_Posion"> 
                    <a href="https://github.com/danalmeida29/passaroUrbano/tree/devAlmeida0.1" target="_blank">
                        <app-projetos projetoName="Passaro Urbano" projetoCover="./../../../assets/ImgProject/PassaroUrbano.png" projetoAlt="Projeto Passaro Urbano"></app-projetos>
                    </a>
                </div>
                <div class="card_Posion"> 
                    <a href="https://github.com/danalmeida29/buzzfeedTeste/tree/devAlmeida" target="_blank">
                        <app-projetos projetoName="Buzz Feed" projetoCover="./../../../assets/ImgProject/BuzzFeed.png" projetoAlt="Projeto de Quizz da Buzz Feed "></app-projetos>
                    </a>
                </div>
                <div class="card_Posion"> 
                    <a href="https://github.com/danalmeida29/streamShop/tree/develop" target="_blank">
                        <app-projetos projetoName="Test Stream Shop" projetoCover="./../../../assets/ImgProject/primeiraTela.png" projetoAlt="Projeto de Compra de ingresso para cinema"></app-projetos>
                    </a>
                </div>
    
            </div>
        </div>
        
        <div class="capsula">
            <div class="reactAngular">
                <span id="react">
                    <img src="../../../assets/reactLogo.png"/>
                    Projetos React
                </span>
            </div>
            <div class="card-container">
                <div class="card_Posion"> 
                    <a href="" target="_blank">
                        <app-projetos projetoName="Carregando..." projetoCover="./../../../assets/ImgProject/construcao.png" projetoAlt=""></app-projetos>
                    </a>
                </div>
                <div class="card_Posion"> 
                    <a href="" target="_blank">
                        <app-projetos projetoName="Carregando..." projetoCover="./../../../assets/ImgProject/construcao.png" projetoAlt=""></app-projetos>
                    </a>
                </div>
                <div class="card_Posion"> 
                    <a href="" target="_blank">
                        <app-projetos projetoName="Carregando..." projetoCover="./../../../assets/ImgProject/construcao.png" projetoAlt=""></app-projetos>
                    </a>
                </div>
            </div>
        </div>


    </div>

    <div class="contatos" id="contato">

        <div class="tittle">
            <h2 class="section__tittle">Contato</h2>
        </div>

        <app-contato></app-contato>

        <footer class="footer">
        Todos os direitos reservados 2023 | Desenvolvido por Daniel Almeida ®
        </footer>
    </div>

</div>      